.edit-site-content-focus-breadcrumbs__page-crumb,
.edit-site-content-focus-breadcrumbs__chevron {
	color: $gray-700;
	fill: $gray-700;
}

.edit-site-content-focus-breadcrumbs__template-crumb {
	color: var(--wp-block-synced-color);
	fill: var(--wp-block-synced-color);
}
